.container {
    max-width: 700px;
}

.header {
    background: url("assets/old\ man.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size:cover;
    height:100ch;
    padding-top: 77vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background:url("assets/woood\ texture\ tst.png");

    background-position:  center;
    background-size:contain;
    background-repeat:repeat;
}

.boards {
    overflow-x: hidden;
}