@font-face {
    font-family: symbols;
    src: url('assets/symbols.otf')
}

.symbols {
    font-family: symbols;
    font-size: xx-large;
    font-weight: bolder;
    list-style: none;
    text-align: center;
}

body {
    background-image: url('assets/library.png');
    /* background: black; */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.container-xl {
    margin-top: 2em;
}

.symbol-block {
    margin: 3rem auto;
}

@media only screen and (max-width: 600px) {
    .symbols {
        font-size: x-large;
    }

    .symbol-block {
        margin: 0;
        margin-top: 20px;
    }
}