
body {

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}


p {

    font-size: 24px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* background-color: rgba(255,255,255, .6);
    filter: blur(1); */
}


.maze {
    width: 90%;
}

.btn[top_layer="true"]{
    background-color: rgb(228, 213, 188); /* color of portals from image  */
    position: relative;
    color: black;
    font-size: 24px;
    margin-left: 5%;
    left: 50%;
    transform: translate(-56%, 0%);
}

.btn[top_layer="false"]{
    
    filter: invert(1) contrast(1.25);
    background-color: rgb(235,196,6); /* inverted color of portals from image  */
    position: relative;
    font-size: 24px;
    align-self: center center;
    margin-left: 5%;
    left: 50%;
    transform: translate(-56%, 0%);
}

main[top_layer="true"] {
    background-image: url("./assets/MazeSide1-bg.png");
    background-size: .5%;
    background-repeat: repeat;
}

main[top_layer="false"] {
    background-image: none;
    background-color: rgb(211,184,144);
    background-repeat: repeat;
}


.text-container::first-letter{
    padding: 4px;
}

.first-line{
    line-height: 3rem;
}

.container-fluid{
    display: flex;
    color: black;
    align-items: center;
    padding: 10%;
    justify-content: center;
}


.mb-4 {
    margin-bottom: 0 !important;
}


@media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */

    img{
        margin-bottom: 10px;
    }

    .container-fluid{
        flex-direction: column;
    }

    .second-sentence{
        line-height: 1.7rem;
    }

    p{
        font-size: 18px;
        line-height: 18px;
    }

    .first-line{
        line-height: 2rem;
    }
}   