body {
    background-image: url('assets/full.png');
    background-size: cover !important;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
}

.text-container {
    margin-top: 10%;
}
