

body{
  background-color: black;

  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center 100%;

  image-rendering: pixelated !important;
}

.container{
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.lines{

  width: fit-content;
  height: fit-content;
  padding: 20px;
  padding-bottom: 0;

  border: solid 7px black;
  border-radius: 20px;

  margin-top: 50px;

  margin-bottom: 30%;

  background-color: aliceblue;
}

.puzzle-line{
    font-family:  'Macondo Swash Caps', serif;
    font-size: 20px;
    font-weight: bold;
    
    line-height: 10px;
    text-align: center;
}

.puzzle-line-emph{
    font-weight: 1000;
    font-size: 17px;
}



.text-container {
    margin-top: 2.5%;  
    padding: 30px 75px 15px 75px; 
  }

  
  
  @media screen and (max-height: 640px) { /* Mobile landscape */
  
    body{
      overflow: initial;
    }

  }
  
  
  
  @media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */
    .text-container{
      padding: 25px 10px 5px 20px;
    }
  
    body{
        overflow: initial;
    }
  }