#game-canvas {
    background: rgba(0,0,0,0);
    filter: blur(1);
    display: block;
    margin: 0 auto;
    image-rendering: pixelated; 

    max-width: 512px;
    width: 90%;

    margin-bottom: 10px;
    border-radius: 30px;
    border-color: #2dd7ee;
    border-style: double;
}


body {
    background-image: url("assets/background.png");
    background-position: 0% -10%;
    background-color: aqua;
    background-size: cover;
}

#game-assets {
    display: none;
}

.text-container{
    margin-bottom: 20px;
    margin-top: 15%;
}

.arrow-buttons{
    display: none;
}

.mobile-button{
    width: 75px;
    height: 75px;

    text-align: center;
    line-height: 60px;

    font-size: 25px;

    margin: 5px;
}

@media screen and (max-width: 520px) { /* Mobile portrait */

    .arrow-buttons{
        display: flex;
        justify-content: center;
    }

    .bottom-row{
        margin-bottom: 50px;
    }
}