:root {
    --scale: .9;
}

body{
    background-image: url("assets/background.webp");
    background-size: cover;
}

.answer {
    width: calc(var(--scale) * 25px);
    height: calc(var(--scale) * 25px);
    margin: calc(var(--scale) * 2px);
    border-radius: 20px;
    border: 2px solid black;
}

.selected {
    background-color: black;
}

.score {
    grid-column: span 4;
    height: calc(var(--scale) * 30px);
    text-align: center;
}

.test {
    margin: 2rem;
    color: white;
    width: calc(var(--scale) * 170px);
    height: calc(var(--scale) * 355px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url('./assets/scantron.png');
    background-size: cover;

    background-color: black;
    border: solid black 20px;
    border-radius: 20px;
}

.puzzle-content {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


@media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */
    :root {
        --scale: .75;
    }
       
}
