:root {
    --scale: .9;
}

body{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.answer {
    width: calc(var(--scale) * 26px);
    height: calc(var(--scale) * 26px);
    margin: calc(var(--scale) * 4px);
    border-radius: 200px;
    border: 2px solid black;
}

.selected {
    background-color: black;
}

.score {
    grid-column: span 4;
    height: calc(var(--scale) * 32px);
    text-align: center;
}

.test {
    margin: 2rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url('./assets/scantron.png');
    background-size: cover;

    background-color: black;
    border: solid black 12px;
    border-radius: 20px;
}

.puzzle-content {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


@media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */
    :root {
        --scale: .75;
    }
}


