#graphics {
    display: flex;
    justify-content: right;
    align-items: end;
    position: relative;
    background-size: cover;
    overflow-x:hidden;
    height: 400px;
}

#idk {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ttl {
    align-self: flex-start;
    width: 50%;
}

#reset {
    display: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/bkgrnd.png');
    background-attachment: fixed;
    background-position: right;
}

#dude {
    position: absolute;
    margin-bottom: 5%;
    left: 10px;
    bottom: 0px;
    animation: rock 3s ease-in-out infinite;
}

#charibdis {
    padding-top: 10%;
    margin-bottom: 5%;
    animation: undulate 4s ease infinite;
    width: min(400px, 50vw);
}

@keyframes rock {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}


@keyframes undulate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.15, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

#options {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#options button {
    width: min(60rem, 100%);
}

#text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#result {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#stats {
    align-self: flex-end;
    text-align: right;
}

#ttl::first-letter {
    font-family: "Macondo Swash Caps";
}

#description::first-letter {
    font-family: "Macondo Swash Caps";
    font-size: 2rem;
}