body {
    background-color: black;
}

#ontro-video {
    position: fixed;
    transform: scale(0.75) translate(0px, -50px);
    top: 0;
    left: 0;


    width: 100%;
    height: 100%;
}



.text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Macondo Swash Caps', serif;

    width: 60%;

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;

    padding-top: 10px;

    background-position: center center;
    mix-blend-mode: luminosity;
    background-color: var(--text-container-bg);
    bottom: 0px;

    color: white;
    border: solid 5px var(--button-focus);


    transition: all .5s ease-in-out;

    animation: fadeIn 1s;
    text-align: center;
}

.text-container button {
    margin-top: 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }