body {
    background-color: #1a300d;
}

.puzzle {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: center;
    padding: 30px;
}

.key {
    width: 70px;
}

.puzzle-desc{
    padding-left: 20px;
    padding-right: 5px;
}


.table> :not(caption)>*>*  {
    margin-top: 10px;
    background-color: #1f7a1155 !important;
    background-blend-mode: screen;
}

.text-container {
    background-color: #aaa07fbf;
}