
:root{
    --pin-size: 7vh;
}


main{
    background-image: url("/map/assets/clouds_static.png");
    background-color: aqua;
    background-size: cover;
}

.region-map{
    background-image: url("/map/assets/zanyph.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.2);

    aspect-ratio: 654/486;
    height: 100%;
}

.pin{
    display: block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/map/assets/x-mark.webp");

    border: solid transparent 15px; /* easier to click you with my dear */

    position: absolute;

    aspect-ratio: 1;
    width: var(--pin-size);

    transform: scale(1);
    transition: transform .1s;
}

.pin:hover{
    transform: scale(1.1);
}

.pin-tooltip{
    --bs-tooltip-bg: #7c5d34;
    --bs-tooltip-color: var(--bs-white);
}

.star{

    display: inline-block;
    position: relative;

    top: 3px;
    margin-right: 2px;

    width: 15px;
    height: 15px;
}

.star.filled{
    background-image: url("/Common/filled-star.svg");
}

.star.unfilled{
    background-image: url("/Common/unfilled-star.svg");
}


.pin#already-solved-riddle{
    top: calc(76% - var(--pin-size) / 2);
    left: calc(44% - var(--pin-size) / 2);
}

.pin#asdfs-anger{
    top: calc(45% - var(--pin-size) / 2);
    left: calc(60% - var(--pin-size) / 2);
}

.pin#castaway{
    top: calc(18.5% - var(--pin-size) / 2);
    left: calc(55% - var(--pin-size) / 2);
}

.pin#snake{
    top: calc(55% - var(--pin-size) / 2);
    left: calc(40% - var(--pin-size) / 2);
}






@media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */
    .region-map{
        margin-top: 50px;
    }

    [data-puzzle='map'] main{
        overflow-y:scroll !important;
    }
}