body{
    background-image: url("assets/full.png");
    background-attachment: fixed;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;

}


.container{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.text-container-smaller{
    margin-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
    filter: drop-shadow(2px 4px 6px rgba(245, 222, 179,.5));
    max-width: 300px;
}

.text-container-dark{

    margin-top: 5%;
    width: 50%;
    max-width: 50%;
    
}

li {
    padding-bottom: 10px;
}


@media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */
    .text-container-dark{
        width: 80%;
    }
}