body{
    background-color: rgb(0, 0, 0);

    background-image: url("../aavikk/forced-mate/assets/woood\ texture\ tst.png");
}


.container{
    display:flex;
    justify-content:space-around; 
    flex-wrap: wrap;

    margin-top: 30px;
}

.card.credit-person{
    margin: 20px;
    width: 375px !important;

    background-color: transparent;

    color: aliceblue;

    box-shadow: rgba(0,0,0,.1) 0px 0px 10px 10px;
}

.credit-person .card-subtitle {
    color: aliceblue !important;
}

.credit-person .card-title{
    font-family: "Macondo Swash Caps", serif;
    font-size: 2rem;
}

.credit-person .card-img-top{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 50%;
    border: solid var(--bs-border-color-translucent) 5px;
    border-radius: 100%;
    margin: 10px;
}

.credit-person .links{
    margin-top: -30px;
}

.credit-person .card-actions{
    margin-top: 0;
    margin-bottom: 25px;
}

.credit-person .bi{
    transition: color .1s;

    color: rgb(210, 210, 210);
    width: 30px;
    height: 30px;
}

.credit-person .bi:hover, .bi:active, .bi:focus{
    color: rgb(171, 171, 171);
}

.credit-person p.card-text::first-letter{
    font-family: Inter, sans-serif !important;
    font-size: 16px !important;
    margin-right: 0 !important;
}

#first {
    display: none;
}