.body {
    background-color: black;
    height: 100%;
}

body{
    overflow: hidden;

    background-color: black;
}

.puzzle-desc{
    color: azure;
    position: absolute;

    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 20px;

    margin-top: 100px;
    width: 20%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;


}


.stage {
    background-image: url("./assets/stage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    
    width: 100%;
    height: 92vh;

    image-rendering: crisp-edges;

    overflow: hidden;
    padding-bottom: 35px;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.bard{

    outline: none !important;

    width: 100%;
    aspect-ratio: 1/2;
    z-index: 50;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.col[data-focus="false"]:hover, .col[data-focus="true"]{
    transform: scale(1.3);
    /* background-color: rgba(255,255,0, .2); */
}

.bardrow{

    outline: none !important;

    height: 100%;
    padding: 15%;
    margin-top: 5%;
}

@media screen and (max-width: 1100px) {
    .bardrow {
        height: 100%;
        padding: 10%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 945px) {
    .bardrow {
        height: 100%;
        padding: 0;
        margin-top: 5%;
    }
}

@media screen and (max-height: 635px) {
    .bardrow {
        padding-top: 5%;
    }
 }

 @media screen and (max-height: 512px) {
    .bardrow {
        padding-top: 0;
        height: 75%;
    }
 }


.col{

    outline: none !important;

    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
    transition: transform .1s;
}


.col:hover::after{

    outline: none !important;

    content: " ";
    opacity: .5;
    display: block; 
    position: absolute;
    z-index: 10;
    background-image: url("./assets/spotlight.webp");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
/*     
    bottom: -33%;
    left: 0; */
}

.col[data-focus="true"]::after{

    outline: none !important;

    transform: scale(1.2, 1);
    content: " ";
    display: block; 
    position: absolute;
    z-index: 10;
    background-image: url("./assets/spotlight.webp");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 1 !important;
}

#current-audio{
    position: absolute;
    visibility: hidden;
    z-index: 3000;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.rotate-phone{
    display: none;
}



.text-container {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    margin-top: 5%;
    padding: 30px 75px 15px 75px;
    line-height: 1.75rem;
    background-blend-mode: screen;
    box-shadow: rgba(0,0,0,.05) 0 0 10px 10px;
}

.text-container::first-letter {
    font-family: 'Macondo Swash Caps', serif;
    font-size: 2.5em;
    margin-right: -3px
}

.text-container::before, .text-container::after {
    mix-blend-mode: color-dodge;
}



@media screen and (max-height: 640px) { /* mobile landscape */
    .text-container{
        display: none;
    }

    body{
        overflow: initial;
    }

    #current-audio{
        bottom: -80px;
    }
    
}

@media screen and (max-width: 520px) and (orientation: portrait) { /* Mobile portrait */
    .stage {
        display: none;
    }
    
    .rotate-phone{
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;

        z-index: -1;

        width: 100vw;
        height: 100vh;

        background-color: black;
    }

    .rotate-phone-info{
        margin-top: 50%;
    }

    .rotate-phone-p{
        text-align: center;
        color: white;
    }

    .rotate-phone-img{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}