@font-face {
    font-family: 'yiv';
    src: url('assets/yiv-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('assets/bg.png');
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: top center;
    background-attachment: fixed;
}

.container-xl {
    margin-top: 2em;
}

.yiv-block {
    margin: 3rem auto;
    padding: 2rem 1rem;
}

.yiv-block svg {
    height: 30vh;
    display: block;
    margin: 0 auto;
    fill: currentColor;
}

.decodeme {
    max-width: 30%;
    min-width: 20%;
}

hr {
    padding: 1rem;
    border-top: px solid white;
}

p.yiv {
    display: flex;
    text-wrap: nowrap;
    align-items: start;
    font-family: 'yiv', serif;
    font-size: 2.75vw;
    margin-bottom: 3vw;
    letter-spacing: .75rem;
}

@media only screen and (min-width : 1200px) {
    p.yiv {
        font-size: 37px;
    }
}

p.yiv:last-of-type {
    margin-bottom: 0;
}

span.word {
    text-orientation:upright;
    writing-mode: vertical-lr;
}

span.nl {
    position: relative;
    top: -1em;
    width: 10px;
}

span.comma {
    position: relative;
    font-size: 2vw;
    top: -1em;
    width: 10px;
    padding-right: 30px;
}

span.period {
    position: relative;
    font-size: 2.5vw;
    top: -1em;
    width: 10px;
}