:root {
    --grid-cells: 15;
    --grid-size: 450px;
}


body{
    background-image: url("assets/background.webp");
    background-size: cover;
}

#crossword-wrapper {
    /* border: 1px solid black; */

    width: var(--grid-size);
    height: var(--grid-size);
    margin: 0 auto;

    background-color: white;

    outline: 10px solid #B99B5A;
    border-radius: 4px;
}


html[data-region=telius] .text-container::before, html[data-region=telius] .text-container::after{
    content: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #DFC382;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B99B5A;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A38954;
  }
  
.container{
    margin-top: 40px;
}



.text-container::first-letter{
    font-family: 'Inter', sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    margin-right: 0;
}

.filled {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    background: black;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.empty {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
}

.bar {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-right: 3px solid black;
    border-image: url('assets/guy2.png');
    border-image-slice: 1 10;
    border-image-width: auto;
    padding: 0;
    margin: 0;
}

.bar-l {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-left: 3px solid black;
    padding: 0;
    margin: 0;
    border-image: url('assets/guy.png');
    border-image-slice: 1 10;
    border-image-width: auto;
}


.bar2 {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-left: 3px solid black;
    padding: 0;
    margin: 0;
    border-image: url('assets/guy21.png');
    border-image-slice: 1 10;
    border-image-width: auto;
}

.bar2l {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-right: 3px solid black;
    border-image: url('assets/guy22.png');
    border-image-slice: 1 10;
    border-image-width: auto;
    padding: 0;
    margin: 0;
}

.numbered {
    counter-increment: value;
}

.numbered.bar2l:nth-of-type(n)::before {
    margin-left: 4px;
    content: counter(value);
    font-size: 10px;
    position: absolute;
}
.numbered.bar-l:nth-of-type(n)::before {
    margin-left: 3px;;
    content: counter(value);
    font-size: 10px;
    position: absolute;
}

.numbered:nth-of-type(n)::before {
    content: counter(value);
    font-size: 10px;
    position: absolute;
}



#clue-list-container {
    margin: auto;
}
#across, #down {
    height: var(--grid-size);
    overflow-y: scroll;
}
