:root {
    --grid-cells: 15;
    --grid-size: 450px;
}

#crossword-wrapper {
    /* border: 1px solid black; */

    width: var(--grid-size);
    height: var(--grid-size);
    margin: 0 auto;
}

.filled {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    background: black;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.empty {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
}

.bar {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-right: 3px solid black;
    border-image: url('assets/guy2.png');
    border-image-slice: 1 10;
    border-image-width: auto;
    padding: 0;
    margin: 0;
}

.bar-l {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-left: 3px solid black;
    padding: 0;
    margin: 0;
    border-image: url('assets/guy.png');
    border-image-slice: 1 10;
    border-image-width: auto;
}


.bar2 {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-left: 3px solid black;
    padding: 0;
    margin: 0;
    border-image: url('assets/guy21.png');
    border-image-slice: 1 10;
    border-image-width: auto;
}

.bar2l {
    width: calc(var(--grid-size) / var(--grid-cells));
    height: calc(var(--grid-size) / var(--grid-cells));
    border: 1px solid black;
    border-right: 3px solid black;
    border-image: url('assets/guy22.png');
    border-image-slice: 1 10;
    border-image-width: auto;
    padding: 0;
    margin: 0;
}

.numbered {
    counter-increment: value;
}

.numbered.bar2l:nth-of-type(n)::before {
    margin-left: 4px;
    content: counter(value);
    font-size: 10px;
    position: absolute;
}
.numbered.bar-l:nth-of-type(n)::before {
    margin-left: 3px;;
    content: counter(value);
    font-size: 10px;
    position: absolute;
}

.numbered:nth-of-type(n)::before {
    content: counter(value);
    font-size: 10px;
    position: absolute;
}



#clue-list-container {
    margin: auto;
}
#across, #down {
    height: var(--grid-size);
    overflow-y: scroll;
}
