*{
    margin: 0;
    padding: 0;
}


html{
    overflow: hidden;
    cursor: grab;
    background-color: #6D94BA;
}

#mapContainer{
    width: 100vw;
    height: 100vh;

    overflow: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#draggableMap{

    position: relative;

    /* background-color: blueviolet;
    background: url("./../imgs/map.jpg");
    background-size: contain;
    background-position: top left; */
    
    width: 3000px;
    height: 2250px;

    padding: 10px;
}

#draggableMap > p {
    position: relative;
    z-index: 2;
}



/* Hide scrollbar for Chrome, Safari and Opera */
#mapContainer::-webkit-scrollbar {
    display: none;
}
  